@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: row;
  font-family: "Space Grotesk", sans-serif;
  background: url(./images/bg-main-desktop.png);
  background-repeat: no-repeat;
  padding: 8rem;
}

.sub {
  width: 40%;
  /* background-color: red; */
  position: relative;
}

.main {
  /* max-width: 500px; */
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 0 5rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  font-size: 0.85rem;
}

input {
  font-size: 0.8rem;
  padding: 0.5rem;
  width: 100%;
  height: 2.2rem;
  border-radius: 5px;
  border: 1px solid hsl(270, 3%, 87%);
  cursor: pointer;
  color: hsl(278, 68%, 11%);
  outline: none;
}

input:focus {
  border: 1.5px solid hsl(278, 94%, 30%);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.error {
  display: none;
  color: red;
  margin-top: 10px;
  font-size: 10px;
}

.card {
  position: absolute;
  width: 25rem;
  height: 15rem;
  border-radius: 5px;
  color: #fff;
}

.card-front {
  top: 10%;
  right: -2rem;
  background: url(./images/bg-card-front.png);
  padding: 1rem 1.5rem;
}

.card-logo {
  width: 4rem;
  margin-bottom: 3.5rem;
}

.card-info h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.card-info--name {
  max-width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-size: 0.8rem;
  margin-top: 2rem;
}

#card-number {
  font-size: 1.8rem;
  font-weight: 400;
}

.card-back {
  background: url(./images/bg-card-back.png);
  /* background-position-x: right;
  background-position-y: top; */
  bottom: 5%;
  right: -9rem;
}

.new-info div {
  margin-bottom: 1rem;
}

.sub--input,
.date--cvc {
  display: flex;
  justify-content: space-between;
}

.date--cvc div,
.sub--input input {
  flex-basis: 45%;
}

.confirm {
  background-color: hsl(278, 68%, 11%);
  color: #fff;
}

@media (max-width: 900px) {
  .sub {
    width: 30%;
  }

  .card {
    width: 20rem;
    height: 12rem;
  }

  .card-back {
    right: -5rem;
  }
}

@media (max-width: 750px) {
  body {
    height: auto;
    width: auto;
    flex-direction: column;
  }
  .sub {
    max-width: 100%;
    width: auto;
    height: 40vh;
    background-size: cover;
    margin-bottom: 2rem;
  }

  .card {
    /* display: none; */
    margin: 0 auto;
    width: 18rem;
    height: 10rem;
  }

  .card-front {
    z-index: 2;
    right: 20%;
    top: 40%;
  }

  .card-back {
    right: 10%;
    top: 15%;
  }

  .card-info h2 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
}
